<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title></title>
</head>
<body>

<form action="{% url 'PostView' %}#last" method="post">
    {% csrf_token %}
    <div>
        <textarea name="{{ widget.name }}"{{ widget.attrs }}>
          {{ widget.value|default:'' }}
        </textarea>
        <div name="{{ widget.contenteditable_name }}" contenteditable="true" class="{{ widget.attrs.class }}" placeholder="{{ widget.attrs.placeholder }}" tabindex="{{ widget.attrs.tabindex }}">
          {{ widget.value|default:'' }}
        </div>
      </div>
    {% comment %} {{form.media }} {% endcomment %}
    {% comment %} {{form.as_p }} {% endcomment %}
    <input type="submit" value="Submit">
</form>
<a href="{% url 'PostView' %}#last"><button>Last</button></a>
{% for po in post %}
<h1>{{po.title}}</h1>
<div>{{po.content|safe}}</div>
{% endfor %}
{% for po in post %}
<table border="1px" cellspacing="0px">
    <tr>
        
        <td colspan="2">{{po.title}}</td>
    </tr>
    <tr>
        <td>{{po.content|safe}}</td>
        <td>{{po.content|safe}}</td>
    </tr>
    <tr>
        <td id="last">{{po.content|safe}}</td>
        <td>{{po.content|safe}}</td>
    </tr>
</table>
{% endfor %}
</body>
</html>