<!DOCTYPE html>
{% load static tailwind_tags %}
{% load static %}
<html>
<head>
    <title></title>
    {% tailwind_css %}
</head>
<body>
    <div class="box-decoration-clone md:box-decoration-slice">
        jhkjhkjhjk
      </div>

<form action="{% url 'PostView' %}#last" method="post">
    {% csrf_token %}
    {{form.media }}
    {{form.as_p }}
    <input type="submit" value="Submit">
</form>
<a href="{% url 'PostView' %}#last"><button>Last</button></a>
{% for po in post %}
<h1>{{po.title}}</h1>
<div>{{po.content|safe}}</div>
{% endfor %}
{% for po in post %}
<table border="1px" cellspacing="0px">

    <tr>
        
        <td colspan="2">{{po.title}}</td>
    </tr>
    <tr>
        <td>{{po.content|safe}}</td>
        <td>{{po.content|safe}}</td>
    </tr>
    <tr>
        <td id="last">{{po.content|safe}}</td>
        <td>{{po.content|safe}}</td>
    </tr>
</table>
{% endfor %}
</body>
</html>